.icon {
  width: 2vw;
}


.contactsSection {
  display: flex;
  flex-wrap: wrap;
  //   margin: 1vw;
  padding: 1vw;
  justify-content: space-around;
  max-height: 20%;
  align-items: center;
  //   border: 2px solid;
  font-size: 1vw;
  font-weight: 600;
  background-color: rgb(177, 236, 12);
  .section1 {
    display: flex;
    img {
      margin: 1vw;
    }
    .email a {
      color: black;
    }
  }
  .buttons {
    button {
      padding: 1vw;
      margin: 1vw;
      background-color: aliceblue;
      border-radius: 10vw 10vw 10vw 10vw;
      width: 10vw;
    }
  }
  .socialMediaIcons {
    cursor: pointer;
    img {
      margin: 1vw;
    }
    .iso {
      width: 5vw;
    }
  }
}

.menu {
  padding: 1vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(177, 236, 12);
  font-size: 1.3vw;
  color: rgb(65, 55, 55);
  .companyLogo {
    img {
      width: 20vw;
    }
  }
  .menuItem {
    //   border: 2px solid;
    padding: 1vw;
    cursor: pointer;
    background-color: rgb(177, 236, 12);
    font-size: 1vw;
  }
  .dropdownItem {
    background-color: rgb(177, 236, 12);
    padding: 1vw;
    margin: 1vw;
  }
  a {
    color: rgb(65, 55, 55);
  }
}
hr {
  margin: 0;
}

.menuItem:hover {
  //   text-decoration: underline white;
}
.loginButton button {
  padding: 1vw;
  margin: 1vw;
  background-color: aliceblue;
  border-radius: 2vw;
  width: 10vw;
}
.bodyPart {
  display: flex;
  justify-content: center;
  img {
    width: 90%;
    height: 70vh;
    border-radius: 1vw 1vw 5vw 5vw;
  }
  .whatsappLogo {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 5%;
    height: 10%;
  }
}
a:link {
  text-decoration: none;
}
