h1 {
    text-align: center;
    font-size: 5vw;
}
h3 {
    font-size: 2vw;
}
p {
    font-size: 3vw;
}
p:hover {
    font-size: 3.1vw;
    transition: all;
    transition-duration: 0.5s;
}
.img1 {
    width: 30%;
    box-shadow: 1vw 1vw 1vw black;
    /* height: 50vh; */
    /* object-fit: contain; */
}

.center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* border: 2px solid red; */
    justify-content: center;
    /* height: 100vh; */
    flex-direction: row;
    width: 100%;
}

iframe {
    margin: 1vw;
    width: 50%;
    height: 50vh;
}
html {
    font-family: "Updock", cursive;
    background: #5433ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #a5fecb,
        #20bdff,
        #5433ff
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #a5fecb,
        #20bdff,
        #5433ff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.wishes {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.wishes p {
    width: 40%;
}

.wishes img {
    width: 50%;
    /* border: 2px solid red; */
}

@media screen and (max-width: 1000px) {
    p {
        font-size: 10vw;
    }
    p:hover {
        font-size: 11vw;
    }
    h1 {
        font-size: 15vw;
    }
    .wishes img {
        width: 70%;
    }
    .wishes p {
        width: 80%;
    }
    .wishes p:hover {
        font-size: 11vw;
    }
    iframe {
        margin: 1vw;
        width: 100%;
        /* height: 50vh; */
    }
    .img1 {
        width: 80%;
        box-shadow: 3vw 3vw 3vw black;
        /* height: 70vh; */
    }
    h3 {
        font-size: 5vw;
    }
}
.page1,
.page2 {
    background-image: url("https://cdn.pixabay.com/photo/2016/09/16/19/13/balloon-1674880_960_720.png");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
}
.page2{
  background-image: url("https://cdn.pixabay.com/photo/2017/11/24/10/43/album-2974646_960_720.jpg");
  height: 300vh;
}